<div class="container mt-4">
  <h2>Crear y Gestionar Funcionarios</h2>
  <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
  <div *ngIf="successMessage" class="alert alert-success">
    {{ successMessage }}
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username</label>
      <input id="username" formControlName="username" class="form-control" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        id="password"
        formControlName="password"
        type="password"
        class="form-control"
      />
    </div>
    <button type="submit" class="btn btn-primary mt-3">Guardar</button>
    <button type="button" class="btn btn-secondary mt-3" (click)="resetForm()">
      Reset
    </button>
  </form>
  <div class="mt-4">
    <h3>Lista de Funcionarios</h3>
    <ul class="list-group">
      <li *ngFor="let user of users" class="list-group-item">
        {{ user.username }}
        <button
          class="btn btn-sm btn-warning float-end ms-2"
          (click)="editUser(user)"
        >
          Editar
        </button>
        <button
          class="btn btn-sm btn-danger float-end"
          (click)="deleteUser(user)"
        >
          Eliminar
        </button>
      </li>
    </ul>
  </div>
</div>
