/* Asegura que las tarjetas se muestren en una cuadrícula */
.card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin-bottom: 20px; /* Añade un margen inferior para separar las filas */
  width: 100%; /* Asegura que las tarjetas ocupen el 100% del contenedor */
}

.card-img-top {
  width: 100%; /* Hace que la imagen ocupe el 100% del ancho de la tarjeta */
  height: auto;
}

/* Ajuste de fuente y tamaño de tarjeta para pantallas medianas y grandes */
@media (min-width: 768px) and (max-width: 991px) {
  .card {
    flex: 0 0 48%; /* Ajusta el tamaño para dos columnas en pantallas medianas */
    font-size: 0.9rem; /* Reduce el tamaño de la fuente */
  }
}

@media (min-width: 992px) {
  .card {
    flex: 0 0 23%; /* Ajusta el tamaño para cuatro columnas en pantallas grandes */
    font-size: 1rem; /* Tamaño de fuente normal */
  }
}

/* Ajuste de fuente y tamaño de tarjeta para pantallas pequeñas */
@media (max-width: 767px) {
  .card {
    flex: 0 0 48%; /* Dos columnas en pantallas pequeñas */
    font-size: 0.8rem; /* Reduce el tamaño de la fuente */
    margin-bottom: 10px; /* Ajusta el margen inferior para separar las filas */
  }
}
